*{
    
    box-sizing: border-box;
}
body {
    perspective:1000px;s
    perspective-origin: 240px 240px;
    background:url(http://1.bp.blogspot.com/-DLaHcdJOuYE/UtLZW6VKxXI/AAAAAAAAN94/wmywUOn0Ui4/s1600/madera-contrachapada-ocre.jpg);
    background-attachment:fixed;
    
}

.all{
   margin-top:15%;
   margin-left:50%;
}
.la.mesa{
    width:300px;
    height:300px;
    position:absolute ;
    background:#fff;
    top:80px;
    left:25%;
    border-radius:10px;
}

.azul{
    width:100px;
    height:100px;
    position:absolute ;
    background:blue;
    border-radius:10px 0px 0px 0px;
}
.rojo{
    width:100px;
    height:100px;
    position:absolute ;
    background:red;
    top:200px;
    border-radius:0px 0px 0px 10px;
}
.amarillo{
    width:100px;
    height:100px;
    position:absolute ;
    background:yellow;
    top:200px;
    left:200px;
    border-radius:0px 0px 10px 0px;
}
.verde{
    width:100px;
    height:100px;
    position:absolute ;
    background:green;
    left:200px;
    border-radius:0px 10px 0px 0px;
}
.azulb{
    width:33.3px;
    height:100px;
    position:absolute ;
    background:blue;
    left:133.3px;
    top:14px;
}

.rojob{
    width:100px;
    height:33.3px;
    position:absolute ;
    background:red;
    top:133.3px;
    left:14px;
}
.amarillob{
    width:33.3px;
    height:100px;
    position:absolute ;
    background:yellow;
    top:186px;
    left:133.3px;
}
.verdeb{
    width:100px;
    height:33.3px;
    position:absolute ;
    background:green;
    left:186px;
    top:133.3px;
    
}
.azulc{
    width:60px;
    height:60px;
    position:absolute ;
    background:#000;
    left:20px;
    top:20px;
    opacity:0.3;
    border-radius:10px;
}
.rojoc{
    width:60px;
    height:60px;
    position:absolute ;
    background:#000;
    left:20px;
    top:220px;
    opacity:0.3;
    border-radius:10px;
}

.amarilloc{
    width:60px;
    height:60px;
    position:absolute ;
    background:#000;
    left:220px;
    top:220px;
    opacity:0.3;
    border-radius:10px;
}

.verdec{
    width:60px;
    height:60px;
    position:absolute ;
    background:#000;
    left:220px;
    top:20px;
    opacity:0.3;
    border-radius:10px;
}

.azuld{
    width:66.6px;
    height:66.6px;
    position:absolute ;
    border:38px solid transparent ;
    left:112px;
    top:112px;
    border-right:38px solid blue;
    transform:rotate(-90deg);
}

.rojod{
    width:66.6px;
    height:66.6px;
    position:absolute ;
    border:38px solid transparent ;
    left:112px;
    top:112px;
    border-right:38px solid red;
    transform:rotate(180deg);
}
.amarillod{
    width:66.6px;
    height:66.6px;
    position:absolute ;
    border:38px solid transparent ;
    left:112px;
    top:112px;
    border-right:38px solid green;
    
}
.verded{
    width:66.6px;
    height:66.6px;
    position:absolute ;
    border:38px solid transparent ;
    left:112px;
    top:112px;
    border-right:38px solid yellow;
    transform:rotate(90deg);
}


.ficha1{
    position:absolute ;
    border:1px solid #000;
    background:blue;
    top:25px;
    left:25px;
    width:16px;
    height:16px;
    border-radius:50%;
}
.ficha2{
    position:absolute ;
    border:1px solid #000;
    background:blue;
    top:55px;
    left:25px;
    width:16px;
    height:16px;
    border-radius:50%;
}

.ficha3{
    position:absolute ;
    border:1px solid #000;
    background:blue;
    top:25px;
    left:55px;
    width:16px;
    height:16px;
    border-radius:50%;
}

.ficha4{
    position:absolute ;
    border:1px solid #000;
    background:blue;
    top:55px;
    left:55px;
    width:16px;
    height:16px;
    border-radius:50%;
}
.fichab1{
    position:absolute ;
    border:1px solid #000;
    background:red;
    top:225px;
    left:25px;
    width:16px;
    height:16px;
    border-radius:50%;
}
.fichab2{
    position:absolute ;
    border:1px solid #000;
    background:red;
    top:255px;
    left:25px;
    width:16px;
    height:16px;
    border-radius:50%;
}
.fichab3{
    position:absolute ;
    border:1px solid #000;
    background:red;
    top:255px;
    left:55px;
    width:16px;
    height:16px;
    border-radius:50%;
}
.fichab4{
    position:absolute ;
    border:1px solid #000;
    background:red;
    top:225px;
    left:55px;
    width:16px;
    height:16px;
    border-radius:50%;
}
.fichac1{
    position:absolute ;
    border:1px solid #000;
    background:yellow;
    top:255px;
    left:225px;
    width:16px;
    height:16px;
    border-radius:50%;
}

.fichac2{
    position:absolute ;
    border:1px solid #000;
    background:yellow;
    top:255px;
    left:255px;
    width:16px;
    height:16px;
    border-radius:50%;
}
.fichac3{
    position:absolute ;
    border:1px solid #000;
    background:yellow;
    top:225px;
    left:255px;
    width:16px;
    height:16px;
    border-radius:50%;
}

.fichac4{
    position:absolute ;
    border:1px solid #000;
    background:yellow;
    top:225px;
    left:225px;
    width:16px;
    height:16px;
    border-radius:50%;
}

.fichad1{
    position:absolute ;
    border:1px solid #000;
    background:green;
    top:55px;
    left:255px;
    width:16px;
    height:16px;
    border-radius:50%;
}
.fichad2{
    position:absolute ;
    border:1px solid #000;
    background:green;
    top:55px;
    left:225px;
    width:16px;
    height:16px;
    border-radius:50%;
}

.fichad3{
    position:absolute ;
    border:1px solid #000;
    background:green;
    top:25px;
    left:255px;
    width:16px;
    height:16px;
    border-radius:50%;
}
.fichad4{
    position:absolute ;
    border:1px solid #000;
    background:green;
    top:25px;
    left:225px;
    width:16px;
    height:16px;
    border-radius:50%;
}

.filas{
    width:100px;
    height:1px;
    background:#000;
    position:absolute ;
    left:100px;
    top:14px;
}

.f1{
    top:28px;
    position:absolute ;
}
.f2{
    top:42px;
    position:absolute ;
}
.f3{
    top:56px;
    position:absolute ;
}
.f4{
    top:70px;
    position:absolute ;
}
.f5{
    top:84px;
    position:absolute ;
}
.f6{
    top:98px;
    position:absolute ;
}

.f7{
    top:112px;
    position:absolute ;
    width:75px;
    left:112px;
}

.filab{
    height:100px;
    width:1px;
    background:#000;
    position:absolute ;
    left:14px;
    top:100px;
}

.f8{
    position:absolute ;
    left:28px;
}
.f9{
    position:absolute ;
    left:42px;
}
.f10{
    position:absolute ;
    left:56px;
}

.f11{
    position:absolute ;
    left:70px;
}
.f12{
    position:absolute ;
    left:84px;
}

.f13{
    position:absolute ;
    left:98px;
}
.f14{
    position:absolute ;
    left:112px;
    height:75px;
    width:1px;
    top:112px;
}

.filac{
    width:100px;
    height:1px;
    background:#000;
    position:absolute ;
    top:286px;
    left:100px;
}

.f16{
    position:absolute ;
    top:272px;
}
.f17{
    position:absolute ;
    top:258px;
}
.f19{
    position:absolute ;
    top:244px;
}
.f20{
    position:absolute ;
    top:230px;
}
.f21{
    position:absolute ;
    top:216px;
}
.f22{
    position:absolute ;
    top:202px;
}
.f23{
    position:absolute ;
    top:186px;
    width:75px;
    left:112px;
}
.filad{
    height:100px;
    width:1px;
    background:#000;
    position:absolute ;
    top:100px;
    left:286px;
}

.f25{
    position:absolute ;
    left:272px;
}

.f26{
    position:absolute ;
    left:258px;
}
.f27{
    position:absolute ;
    left:244px;
}

.f28{
    position:absolute ;
    left:230px;
}
.f29{
    position:absolute ;
    left:216px;
}
.f30{
    position:absolute ;
    left:202px;
}
.f31{
    position:absolute ;
    left:186px;
    height:75px;
    width:1px;
    top:112px;
}

.filae{
    width:20px;
    height:1px;
    background:#000;
    position:absolute ;
    transform:rotate(45deg);
    top:105px;
    left:96px;
}

.incli2{
    position:absolute ;
    top:193px;
    left:96px;
    transform:rotate(-45deg);
}
.incli3{
    position:absolute ;
    top:193px;
    left:183px;
    transform:rotate(45deg);
}
.incli4{
    position:absolute ;
    top:105px;
    left:184px;
    transform:rotate(-45deg);
}
.star{
    width:33.3px;
    height:14px;
    position:absolute ;
    background:gray;
    left:133.3px;
    text-align:center ;
    color:#282828;
}

.s2{
    position:absolute ;
    top:56.5px;
    left:100px;
    
}


.s3{
    position:absolute ;
    top:100px;
    left:56.5px;
    width:14px;
    height:33.3px;
    background:gray;
    text-align:text-bottom ;
}
.ss3{
    top:10px;
    position:absolute ;
}

.s4{
    position:absolute ;
    top:133.3px;
    left:0px;
    width:14px;
    height:33.3px;
    background:gray;
}
.ss4{
    top:10px;
    position:absolute ;
}
.s5{
    position:absolute ;
    top:166.6px;
    left:56.5px;
    width:14px;
    height:33.3px;
    background:gray;
}
.ss5{
    top:10px;
    position:absolute ;
}
.s6{
    position:absolute ;
    top:230.5px;
    left:100px;
}

.s7{
    position:absolute ;
    top:286px;
    left:133.3px;
}
.s8{
    position:absolute ;
    top:230.5px;
    left:166.6px;
}

.s9{
    position:absolute ;
    top:166.6px;
    left:230.5px;
    width:14px;
    height:33.3px;
    background:gray;
}
.ss9{
    top:10px;
    position:absolute ;
}
.s10{
    position:absolute ;
    top:133.3px;
    left:286px;
    width:14px;
    height:33.3px;
    background:gray;
}
.ss10{
    top:10px;
    position:absolute ;
}
.s11{
    position:absolute ;
    top:100px;
    left:230px;
    width:14px;
    height:33.3px;
    background:gray;
}
.ss11{
    top:10px;
    position:absolute ;
}
.s12{
    position:absolute ;
    top:56.5px;
    left:166.6px;
}  

.numeros{
    font-size:10px;
    position:absolute ;
}
.n1{
    position:absolute ;
    left:128px;
}

.n2{
    position:absolute ;
    left:128px;
    top:14px;
}
.n3{
    position:absolute ;
    left:128px;
    top:28px;
}
.n4{
    position:absolute ;
    left:128px;
    top:42px;
}
.n6{
    position:absolute ;
    left:128px;
    top:70px;
}
.n7{
    position:absolute ;
    left:128px;
    top:84px;
}
.n8{
    position:absolute ;
    left:128px;
    top:98px;
}

.numerosb{
    font-size:10px;
    transform:rotate(-90deg);
}

.n9{
    top:125px;
    left:102px;
    position:absolute ;
}

.n10{
    top:123px;
    left:88px;
    position:absolute ;
}
.n11{
    top:123px;
    left:74px;
    position:absolute ;
}

.n13{
    top:123px;
    left:46px;
    position:absolute ;
}
.n14{
    top:123px;
    left:32px;
    position:absolute ;
}

.n15{
    top:123px;
    left:18px;
    position:absolute ;
}
.n16{
    top:123px;
    left:4px;
    position:absolute ;
}
.n18{
    top:166px;
    left:4px;
    position:absolute ;
}
.n19{
    top:166px;
    left:18px;
    position:absolute ;
}
.n20{
    top:166px;
    left:32px;
    position:absolute ;
}

.n21{
    top:166px;
    left:46px;
    position:absolute ;
}
.n23{
    top:166px;
    left:74px;
    position:absolute ;
}
.n24{
    top:166px;
    left:88px;
    position:absolute ;
}
.n25{
    top:166px;
    left:102px;
    position:absolute ;
}
.n26{
    top:188px;
    left:122px;
    position:absolute ;
}
.n27{
    top:202px;
    left:122px;
    position:absolute ;
}

.n28{
    top:216px;
    left:122px;
    position:absolute ;
}
.n30{
    top:244px;
    left:122px;
    position:absolute ;
}
.n31{
    top:258px;
    left:122px;
    position:absolute ;
}
.n32{
    top:272px;
    left:122px;
    position:absolute ;
}
.n33{
    top:286px;
    left:122px;
    position:absolute ;
}
.n35{
    top:286px;
    left:167px;
    position:absolute ;
}
.n36{
    top:272px;
    left:167px;
    position:absolute ;
}
.n37{
    top:258px;
    left:167px;
    position:absolute ;
}

.n38{
    top:244px;
    left:167px;
    position:absolute ;
}
.n40{
    top:216px;
    left:167px;
    position:absolute ;
}
.n41{
    top:202px;
    left:167px;
    position:absolute ;
}
.n42{
    top:188px;
    left:167px;
    position:absolute ;
} 

.n43{
    top:166px;
    left:188px;
    position:absolute ;
} 
.n44{
    top:166px;
    left:202px;
    position:absolute ;
} 

.n45{
    top:166px;
    left:218px;
    position:absolute ;
}
.n47{
    top:166px;
    left:246px;
    position:absolute ;
}  
.n48{
    top:166px;
    left:260px;
    position:absolute ;
}  

.n49{
    top:166px;
    left:274px;
    position:absolute ;
}  

.n50{
    top:166px;
    left:288px;
    position:absolute ;
}  

.n52{
    top:122px;
    left:288px;
    position:absolute ;
}  
.n53{
    top:122px;
    left:274px;
    position:absolute ;
}  
.n54{
    top:122px;
    left:260px;
    position:absolute ;
}  

.n55{
    top:122px;
    left:246px;
    position:absolute ;
}  

.n57{
    top:122px;
    left:218px;
    position:absolute ;
}
.n58{
    top:122px;
    left:203px;
    position:absolute ;
}
.n59{
    top:122px;
    left:188px;
    position:absolute ;
}
.n60{
    top:98px;
    left:167px;
    position:absolute ;
}
.n61{
    top:84px;
    left:167px;
    position:absolute ;
}
.n62{
    top:70px;
    left:167px;
    position:absolute ;
}
.n64{
    top:42px;
    left:167px;
    position:absolute ;
}
.n65{
    top:28px;
    left:167px;
    position:absolute ;
}
.n66{
    top:14px;
    left:167px;
    position:absolute ;
}
.n67{
    top:0px;
    left:167px;
    position:absolute ;
}

.fa{
    color:#404040;
}



@keyframes dado{
    0% {-webkit-transform: rotateY(0deg) rotateX(0deg);}
    100% {-webkit-transform: rotateY(360deg) rotateX(360deg); }
}


.dado{
    width: 50px;
    height: 50px;
    margin-left:120px;
    margin-top:-65px;
    transform-style: preserve-3d;
    animation: dado 5s linear infinite ;
}

.side {
    width: 50px;
    height: 50px;
    background-color:#fff;
    border-radius:10px;
}


.one {
    transform: translateZ(-25px) rotateY(180deg);
}

.two {
    transform: translateY(-74px) rotateX(90deg);
}

.three {
    transform: translateY(-100px) translateX(25px) rotateY(90deg);
}

.four {
    
    transform: translateY(-150px) translateX(-25px) rotateY(-90deg);
}

.five {
    transform: translateY(-175px) rotateX(-90deg);
}
.six {
    transform: translateY(-250px) translateZ(25px);
}



    
.ca1{
    top:20px;
    left:20px;
    position:absolute ;
    background:#000;
    width:10px;
    height:10px;
    border-radius:50%;
}
.cb1{
    top:20px;
    left:9px;
    position:absolute ;
    background:#000;
    width:10px;
    height:10px;
    border-radius:50%;
}
.cb2{
    top:20px;
    left:31px;
    position:absolute ;
    background:#000;
    width:10px;
    height:10px;
    border-radius:50%;
}

.cc1{
    top:7px;
    left:20px;
    position:absolute ;
    background:#000;
    width:10px;
    height:10px;
    border-radius:50%;
}
   
.cc2{
    top:20px;
    left:20px;
    position:absolute ;
    background:#000;
    width:10px;
    height:10px;
    border-radius:50%;
}
.cc3{
    top:33px;
    left:20px;
    position:absolute ;
    background:#000;
    width:10px;
    height:10px;
    border-radius:50%;
}
.cd1{
    top:7px;
    left:9px;
    position:absolute ;
    background:#000;
    width:10px;
    height:10px;
    border-radius:50%;
}
.cd2{
    top:7px;
    left:31px;
    position:absolute ;
    background:#000;
    width:10px;
    height:10px;
    border-radius:50%;
}
.cd3{
    top:33px;
    left:9px;
    position:absolute ;
    background:#000;
    width:10px;
    height:10px;
    border-radius:50%;
}

.cd4{
    top:33px;
    left:31px;
    position:absolute ;
    background:#000;
    width:10px;
    height:10px;
    border-radius:50%;
}
.ce1{
    top:7px;
    left:9px;
    position:absolute ;
    background:#000;
    width:10px;
    height:10px;
    border-radius:50%;
}
.ce2{
    top:7px;
    left:31px;
    position:absolute ;
    background:#000;
    width:10px;
    height:10px;
    border-radius:50%;
}
.ce3{
    top:20px;
    left:20px;
    position:absolute ;
    background:#000;
    width:10px;
    height:10px;
    border-radius:50%;
}
.ce4{
    top:33px;
    left:9px;
    position:absolute ;
    background:#000;
    width:10px;
    height:10px;
    border-radius:50%;
}

.ce5{
    top:33px;
    left:31px;
    position:absolute ;
    background:#000;
    width:10px;
    height:10px;
    border-radius:50%;
}
.cf1{
    top:7px;
    left:9px;
    position:absolute ;
    background:#000;
    width:10px;
    height:10px;
    border-radius:50%;
}
.cf2{
    top:20px;
    left:9px;
    position:absolute ;
    background:#000;
    width:10px;
    height:10px;
    border-radius:50%;
}
.cf3{
    top:33px;
    left:9px;
    position:absolute ;
    background:#000;
    width:10px;
    height:10px;
    border-radius:50%;
}
.cf4{
    top:7px;
    left:31px;
    position:absolute ;
    background:#000;
    width:10px;
    height:10px;
    border-radius:50%;
}

.cf5{
    top:20px;
    left:31px;
    position:absolute ;
    background:#000;
    width:10px;
    height:10px;
    border-radius:50%;
}

.cf6{
    top:33px;
    left:31px;
    position:absolute ;
    background:#000;
    width:10px;
    height:10px;
    border-radius:50%;
}


